<%- include('./partials/header.ejs'); %>
<body>
    <%- include('./partials/navbar.ejs'); %>

    <div class="container">
        <hr>
        <h1>Pergunta respondida com sucesso!</h1>
        <hr>
        <a href="/"><button class="btn btn-primary">Voltar ao inicio</button></a>
        <hr>
    </div>
    

</body>
<%- include('./partials/footer.ejs'); %>